<div class="container mt-5">
    <div class="jumbotron pt-5 pb-5">
        <div class="row">
            <div class="col-sm-6">
                <app-progresso></app-progresso>
            </div>
            <div class="col-sm-6">
                <div class="float-right">
                    <app-tentativas></app-tentativas>
                </div>
            </div>    
        </div>
        <div class="row">
            <div class="col">
                <h6>Traduza a frase</h6>
                <p>How are you?</p>
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="btn btn-dark float-right">Verificar</div>
            </div>
        </div>
    </div>
</div>
