<div class="container mt-5">
    <div class="jumbotron pt-5 pb-5">
        <div class="row">
            <div class="col-sm-6">
                <app-progresso></app-progresso>
            </div>
            <div class="col-sm-6">
                <div class="float-right">
                    <app-tentativas></app-tentativas>
                </div>
            </div>    
        </div>
        <div class="row">
            <div class="col">
                <h6 class="font-weight-bold">{{instrucao}}</h6>
                <p>{{frases[2].fraseEng}}</p>
                <div class="form-group">
                    <textarea 
                    class="form-control"
                     rows="3"
                    (input)="atualizarResposta($event)"></textarea><!-- Para fazer event bind de forma clara precisa usar $event como parametro da função-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="btn btn-dark float-right">Verificar</div>
            </div>
        </div>
    </div>
</div>
